<link rel="stylesheet" href="/../bootstrap/css/bootstrap.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/../styles/styles.css">
<div id="BaseDiv" align="center" 
style="
overflow: scroll;
height:100%;
background-color:rgba(64,181,5,0.22)">
<br>
<br>
<div class="mainblock" align="center">
<div class='ProjectHead'><div class="col1">
<span class="glyphicon glyphicon-calendar" ></span></div>
<div class="col2"><p>Project Name Text</p>
<span class="glyphicon glyphicon-pencil" "></span>
<span class="glyphicon glyphicon-trash"></span></div>
</div>

<div class="TaskManager">
<div class="col1">
<span class="glyphicon glyphicon-plus"></span>
</div>
<div class="col2">

<input type="text" placeholder="Start typing here to create a task..."><button>Add Task</button>
</div>
</div>

<div class="Task">
<div class="col1">
<input type="checkbox">
</div>
<div class="col2">
<span>Task Text #1</span>
<div class="TaskEdit">
<div><span class="">?</span></div>
<div><span class="glyphicon glyphicon-pencil"></span></div>
<div><span class="glyphicon glyphicon-trash"></span></div>
</div>
</div>
</div>

<div class="Task">
<div class="col1">
<input type="checkbox">
</div>
<div class="col2">
<span>Task Text #2</span>
<div class="TaskEdit">
<div><span class="">?</span></div>
<div><span class="glyphicon glyphicon-pencil"></span></div>
<div><span class="glyphicon glyphicon-trash"></span></div>
</div>
</div>
</div>

<div class="Task">
<div class="col1">
<input type="checkbox">
</div>
<div class="col2">
<span>Task Text #3</span>
<div class="TaskEdit">
<div><span class="">?</span></div>
<div><span class="glyphicon glyphicon-pencil"></span></div>
<div><span class="glyphicon glyphicon-trash"></span></div>
</div>
</div>
</div>

<div class="Task">
<div class="col1">
<input type="checkbox">
</div>
<div class="col2">
<span>Task Text #4</span>
<div class="TaskEdit">
<div><span class="">?</span></div>
<div><span class="glyphicon glyphicon-pencil"></span></div>
<div><span class="glyphicon glyphicon-trash"></span></div>
</div>
</div>
</div>

</div>

</div>